<div layout="column" layout-fill>
  <!--<md-toolbar color="primary" class="md-whiteframe-z1">
        <span>ورود به حساب کاربری</span>
    </md-toolbar>-->
  <div class="md-content bg-login" layout-padding flex>
    <div layout-gt-xs="row" layout-align-gt-xs="center center" class="margin">
      <div flex-gt-md="35" flex="100">
        <!--<md-icon class="md-icon-logo text-center" svgIcon="assets:covalent"></md-icon>-->
        <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']" class="auth-box">
          <md-card-title>
            <strong class="auth-text">عضویت</strong>
          </md-card-title>
          <md-card-subtitle class="text-left">
            عضو هستم،
            <strong><a class="link" [routerLink]="['/login']">وارد می شوم</a></strong>
          </md-card-subtitle>
          <md-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
              <div layout="row">
                <md-input-container flex>
                  <input mdInput placeholder="نام و نام خانوادگی" maxlength="30" type="text" [formControl]="form.controls['name']" required>
                  <span md-prefix><md-icon>person</md-icon></span>
                </md-input-container>
              </div>
              <small *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="tc-red-500"> نام و نام خانوادگی خود را وارد کنید.</small>
              <small *ngIf="form.controls['name'].errors?.email && form.controls['name'].touched" class="tc-red-500"> نام و نام خانوادگی معتبری را وارد کنید.</small>

              <div layout="row">
                <md-input-container flex>
                  <input mdInput placeholder="ایمیل" maxlength="30" type="email" dir="ltr" [formControl]="form.controls['email']" required>
                  <span md-prefix><md-icon>person</md-icon></span>
                </md-input-container>
              </div>
              <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="tc-red-500"> ایمیل خود را وارد کنید.</small>
              <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="tc-red-500"> ایمیل معتبری را وارد کنید.</small>
              <!--<small class="tc-green-500">
                              <md-icon class="text-xl">done</md-icon>
                              رمزعبور به ایمیل تان ارسال شد 😊
                              </small>
                            <br>
                            <small class="tc-red-500">
                              <md-icon class="text-xl">error_outline</md-icon>
                              مشکلی پیش آمده است ☹️
                              </small>-->

              <p class="pad-top-sm">
                <button md-raised-button class="btn-block" color="accent" [disabled]="!form.valid || loading">{{ loading ? 'لطفا شکیبا باشید ...' : 'ساخت حساب'}} </button>
              </p>
            </form>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</div>
