<md-toolbar color="primary">
  <small class="text-lg">
          <md-icon >more_vert</md-icon>
        </small>
  <span>پروفایل من</span>
</md-toolbar>
<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-content>
    <div layout="row" fxLayoutAlign="start start" fxLayout.lt-sm="column" layout-align="center center">
      <div flex>
        <div fxLayout="row" fxLayoutGap="15px">
          <div>
            <img src="../../assets/profile.png" width="75" height="75" style="border-radius: 50%; border:2px solid blue">
          </div>
          <div class="profile__info">
            <span>محمد شریفی</span>
            <br>
            <span class="md-caption tc-grey-600">کاربر حرفه ای</span>
          </div>
        </div>
      </div>
    </div>
  </md-card-content>
  <!--</ng-template>-->
</md-card>
<!-- 
<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px">
      <div flex>
        chart
      </div>
      <div flex>
        نموادر
      </div>
    </div>
  </md-card-content>
</md-card>

<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px">
      <div>
        chart
      </div>
    </div>
  </md-card-content>
</md-card> -->
