.badge {
  span {
    position: relative;
    bottom: 28px;
    left: 35px;
    font-size: 23px;
    color: #271a09;
    font-weight: bolder;
    text-shadow: 2px 3px 2px #9a9a9a
  }
}

.profile__info {
  margin-right: 15px;
}
