@font-face {
  font-family: Sahel;
  src: url('../fonts/Sahel-FD.woff') format('woff');
  font-weight: normal;
}
      
@font-face {
  font-family: Sahel;
  src: url('../fonts/Sahel-Bold-FD.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('../fonts/Sahel-Black-FD.woff') format('woff');
  font-weight: 900;
}

